<h1>Please add your linkedIn for endorsements!</h1>
<h1>Many companies use "number of endorsements" numerical representations of skill</h1>

<a href="https://github.com/JasonFinney/northwestern-linkedin-connect">Here's my GitHub link if you want to check my
    code</a>

<h2>Classmates who have not entered their linkedIn link</h2>

<ul>
    {{#each linkedin}}
    {{#unless entered}}
    {{> linkedin/linkedin-block entered=true}}
    {{/unless}}
    {{/each}}
</ul>

<h2>Classmates who have entered their linkedIn link</h2>

<ul>
    {{#each linkedin}}
    {{#if entered}}
    {{> linkedin/linkedin-block entered=false}}
    {{/if}}
    {{/each}}
</ul>

<h2>Add a Student</h2>
<form class="create-form">

    <div class="form-group">
        <label for="ca">Student Name:</label>
        <input type="text" id="ca" name="name">
        <label for="ca1">LinkedIn Link:</label>
        <input type="text" id="ca1" name="url">
    </div>

    <button type="submit">Add Student</button>
</form>

<script>
    $(function () {
        $(".change-entered").on("click", function (event) {
            var id = $(this).data("id");
            var newEntered = $(this).data("newentered");

            var newEnteredState = {
                entered: newEntered
            };

            $.ajax("/api/linkedin/" + id, {
                type: "PUT",
                data: newEnteredState
            }).then(
                function () {
                    console.log("changed entered to", newEntered);
                    location.reload();
                }
            );
        });

        $(".create-form").on("submit", function (event) {
            event.preventDefault();

            var newStudent = {
                name: $("#ca").val().trim(),
                url: $("#ca1").val().trim(),
                entered: true
            };

            $.ajax("/api/linkedin", {
                type: "POST",
                data: newStudent
            }).then(
                function () {
                    console.log("created new Student");
                    location.reload();
                }
            );
        });
    });
</script>